* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #222;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100dvh;
  padding: 0 15px;
  align-items: center;

}

button{
   border: 0;
   padding: 6px;
   cursor: pointer; 
}

.containerTodoApp{
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0 auto;
}